<launch>
  <arg name="gui" default="true" />
  <arg name="sim" default="false" />

  <rosparam command="load" file="$(find cladplus_control)/config/control.yaml" />

  <include file="$(find mashes_measures)/launch/measures.launch">
    <arg name="gui" value="$(arg gui)" />
  </include>

  <include file="$(find cladplus_labjack)/launch/labjack.launch" unless="$(arg sim)">
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <node name="control" pkg="cladplus_control" type="nd_control.py">
    <param name="power_min" type="double" value="0.0" />
    <param name="power_max" type="double" value="1500.0" />
  </node>

  <node name="control_panel" pkg="cladplus_control" type="qt_control.py" if="$(arg gui)" />
</launch>
