<launch>
  <arg name="gui" default="true" />

  <node name="plot_power" pkg="rqt_plot" type="rqt_plot" args="/control/power/value" if="$(arg gui)" />

  <node name="analog" pkg="cladplus_analog" type="nd_analog.py">
    <param name="power_min" type="double" value="-7.0" />
    <param name="power_max" type="double" value="1523.0" />
  </node>
</launch>
